<div class="header">
      <ul class="nav nav-pills pull-right">
      　<li class="{{ page.home }}"><a href="/index.html" title="Home">CV</a></li>      
        <li class="{{ page.cv }}"><a href="/cv.html" title="CV">CV</a></li>
        <li class="{{ page.research }}"><a href="/research.html" title="Research">Research</a></li>
        <li class="{{ page.teaching }}"><a href="/teaching.html" title="Teaching">Teaching</a></li>
          </ul>
        </li>        
      </ul>
      <h3><class="text-muted">&nbsp;</h3>
</nav>	      
</div> <!-- /header -->
