<div class="header">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
<!--     <a class="navbar-brand" href="#">Hiro Mori</a> -->
    </div>
    <div>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/cv">CV</a></li>
        <li><a href="/research">Research</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/teaching">Teaching<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Econ2151</a></li>
          </ul>
        </li>        
      </ul>
    </div>
  </div>
</nav>	
</div> <!-- /header -->
